<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <div class="row">
            <div class="col-sm-2">
                <ul class="list-group">
                    <li class="list-group-item" style="background-color:#5F5F5F;">
                        <a href="/">
                            <!--<img src="../templates/img/homeicon.jpg" class="img-rounded">-->
                            Home DelCatMaker
                        </a>
                    </li>
                    <li class="list-group-item" style="background-color:#5F5F5F;">
                        <a href="/test">DelCatMaker</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                {% block body %}{% endblock %}
            </div>
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>


<!-- { asset('css pfad ') }} so css dateien einbinden im href -->